#{
  margin: 0px;
  padding: 0px;
  font-family: verdana,serif,sans-serif;;
}
.intento{
  font-size: 65px;
  font-weight: bold;
  font-style: normal;
  color: #FFF;
  text-shadow: 3px 3px 10px #696666;
}
#parrafo{
  color:#fff;
  font-size: 22px;
  font-style: oblique;
  background-color:#da0000;

  text-shadow: 3px 3px 3px #0a0a0a;
}
body{
  background-image: url("https://santaguidafinefoods.com/file/2014/08/web-design-fp-home-page-background.jpg");
}
header{
  margin-top: 30px;
  width:1200px;
  height: 230px;
  background-color: red;
}
div.box{
  width: 200px;
  height:230px;
  float:left;
}
div#uno{
  
}
